* {
    box-sizing: border-box;
}
:root {
    --primary-color: #2ac9bf;
}
html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    min-width: 108px;
    border-radius: 14px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 68px;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background: #fff;
}

.fixed {
    position: sticky;
    top: -48px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding-top: 52px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
    align-items: center;
}

.header .nav .link {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 8px 20px;
}

.header .nav .link:hover,
.header .sig-in:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .log {
    margin-left: 150px;
    display: flex;
    align-items: center;
    gap: 17px;
}
.header .sig-in {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    padding: 4px 7px;
}

.header .sig-up {
    display: inline-block;
    line-height: 48px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
/* Hero */
.hero {
    padding: 50px 0 80px 0;
}
.hero .content {
    display: flex;
    gap: 136px;
}

.hero .content-block {
    padding-top: 93px;
    width: 39%;
}

.hero .title {
    min-width: 458px;
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 72px; /* 116.129% */
}
.hero .desc {
    width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 18px;
    line-height: 32px; /* 177.778% */
}
.hero-btn-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero-btn {
    display: inline-block;
    min-width: 186px;
}

.hero .watch {
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border: none;
    border-radius: 50%;
    background: #fbfbfb;
    color: var(--primary-color);
    font-size: 1.8rem;
    cursor: pointer;
}
.hero .image-block {
    position: relative;
}

.hero .image-block .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    margin-left: 65px;
    background-color: #e0f7f6;
}

.hero .image-block .card-courses {
    position: absolute;
    top: 149px;
    left: 25px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .card-courses .item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 18px 25px;
    position: relative;
}

.hero .card-courses .item::before {
    position: absolute;
    left: 4px;
    bottom: 8px;
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 999px;
}

.hero .card-courses .text {
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .card-schedules {
    position: absolute;
    bottom: 46px;
    left: 0;
    padding: 16px 25px 23px;
    display: inline-block;
    text-align: center;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    width: 124px;
}

.hero .card-schedules .text {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .card-schedules img:first-child {
    margin-top: 16px;
}

.hero .card-schedules img:nth-child(2) {
    margin-top: 12px;
}

.hero .card-schedules img:nth-child(3) {
    margin-top: 10px;
}

.hero .card-schedules img:last-child {
    margin-top: 16px;
}

.hero .card-active {
    position: absolute;
    bottom: 41px;
    right: 45px;
    display: inline-block;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .card-active .item {
    padding: 17px 35px;
}

.hero .card-active .text {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .card-active .avt-group {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.hero .card-active .avt {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -6px;
}

.hero .card-active .avt:first-child {
    background-color: var(--primary-color);
    margin-left: 0;
}

.hero .card-active .avt:nth-child(2) {
    background-color: #ffc147;
}

.hero .card-active .avt:nth-child(3) {
    background-color: #ff947a;
}

.hero .card-active .avt:nth-child(4) {
    background-color: #bf83ff;
}

.hero .card-active .avt:last-child {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
/* Feature */
.feature {
    margin-top: 100px;
    padding: 30px 0;
}

.feature .content {
    width: 1024px;
    max-width: 100%;
}
.feature .top .title {
    width: 577px;
    margin: 18px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 56px; /* 133.333% */
}
.feature .desc {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 27px;
}

.feature .bottom {
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.feature .bottom .desc {
    width: 100%;
    margin-top: 16px;
}

.feature .column:first-child {
    width: 16.5%;
}

.feature .column:nth-child(2) {
    width: 22%;
    margin-left: 209px;
}

.feature .column:last-child {
    width: 21.5%;
    margin-left: 200px;
}

.feature .feature-img {
    width: 102px;
    height: 106px;
    object-fit: cover;
}

.feature .bottom .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}
/* Popular Courses */
.popular {
    margin-top: 100px;
    padding: 30px 0;
}

.popular__title {
    margin: 18px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.popular__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular__info .info__desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 32px; /* 177.778% */
}

.popular__info .view-more {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.popular .courses {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 47px;
}

.popular .courses__item {
    position: relative;
}

.courses__item .courses__img {
    position: relative;
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    background: #d0efed;
}

.courses__item:hover .courses__img {
    opacity: 0.3499999940395355;
    transition-duration: 0.5s;
    transform: scale(1.1, 1.1);
}

.courses__item .courses__info {
    position: absolute;
    padding: 18px 25px 30px;
    border-radius: 8px;
    background: #fff;
    top: 322px;
    left: 50%;
    transform: translateX(-50%);
}

.courses__item .courses__info:hover {
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses__info .courses__name {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses__info .courses__desc {
    color: #9da6a5;
    font-size: 1.4rem;
    margin-top: 16px;
    width: 265px;
}

.courses__info .courses__desc strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses__desc + .courses__desc {
    margin-top: 6px;
}

.courses__schedule {
    display: flex;
    margin-top: 18px;
    align-items: center;
    gap: 10px;
}

.courses__classes,
.courses__learning-time {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #9da6a5;
    font-size: 1.4rem;
}

.courses__schedule .courses__classes::before,
.courses__schedule .courses__learning-time::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}
/* Stats */
.stats {
    padding: 30px 0;
    margin-top: 235px;
}

.stats .content {
    width: 862px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 201px;
}

.stats .stat__total {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    padding: 11px 0;
}

.stats .stat__desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
}
/* Feedback */

.feedback {
    margin-top: 234px;
}
.feedback .content {
    display: flex;
    gap: 72px;
}

.feedback .left {
    width: 36%;
    margin-top: 37px;
}

.feedback .feeback__desc {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 48px; /* 150% */
}

.feedback .author {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-left: 13px;
}

.feedback .author::before {
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 2px;
    background: #070707;
    left: -13px;
}

.feedback .author p {
    color: #767e7e;
    font-size: 1.6rem;
}

.feedback .author strong {
    color: #070707;
    font-weight: 500;
}

.feeback__control {
    margin-top: 52px;
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.feeback__control .chervon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #1ebfc1;
    border: 1px solid var(--primary-color);
}

.feeback__control .chervon:hover {
    cursor: pointer;
    opacity: 0.9;
    color: #fff;
    background: var(--primary-color);
    border: none;
}

.feedback .right {
    position: relative;
}

.feedback .fb-img {
    display: block;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    width: 78px;
    height: 78px;
}

.feedback .main-img {
    width: 235px;
    height: 235px;
    top: 107px;
    left: 273px;
}

.feedback .sub-img:nth-of-type(2) {
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
}

.feedback .sub-img:nth-of-type(3) {
    top: 19px;
    left: 569px;
    width: 110px;
    height: 110px;
}

.feedback .sub-img:nth-of-type(4) {
    top: 258px;
    left: 0;
}

.feedback .sub-img:nth-of-type(5) {
    top: 403px;
    left: 176px;
    background: var(--primary-color);
}

.feedback .sub-img:nth-of-type(6) {
    left: 569px;
    top: 374px;
}
/* CTA */
.cta {
    margin-top: 167px;
    background: #def6f5;
    display: flex;
    justify-content: space-between;
}
.cta .content-block {
    padding: 76px 0 97px 135px;
}

.cta-title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.cta-desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}

.cta-btn {
    display: block;
    min-width: 186px;
    margin-top: 96px;
    margin-right: 289px;
}
/* Footer */
.footer {
    padding: 135px 0 50px;
}

.footer .content {
    display: flex;
    justify-content: space-between;
}

.footer .title {
    color: #2e2e2e;
    font-weight: 600;
    font-size: 1.8rem;
}

.footer .list {
    margin-top: 25px;
}

.footer .list-item a {
    color: #535353;
    font-size: 1.8rem;
}

.footer .list-item {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 18px;
}
.footer .list-item:hover a {
    color: #535353;
    text-shadow: 1px 0 0 currentColor;
}

.footer .social-icon {
    font-size: 1.6rem;
    width: 16px;
    height: 16px;
}
.footer .copyright {
    margin-top: 80px;
    text-align: center;
    color: #b0b5b4;
    font-size: 1.8rem;
}
